ion-col {
  height: 165px;
  background-color: #78c0a8;
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-weight: bold;
}

ion-content {
  overflow: hidden;
  overflow-y: none;
  --offset-bottom: 0px !important;
  --overflow: hidden;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

[data-type='closed'] {
  background: black;
  background-size: contain;
  font-weight: bold;
}

.special-col {
  height: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background: #f0a830
}

ion-tab-bar {
  --background: transparent;
  --border: none;
  margin-bottom: 10px;
}

ion-toolbar {
  --background: white;
}