@import "~leaflet/dist/leaflet.css";

#map {
  height: 50%;
  margin: 5px;
  background: lightgray;
  height: 380px;
  border-radius: 15px;
}

.info-section {
  margin: 5px;
}

.type {
  font-weight: bold;
  opacity: 80%;
}

[data-type='CLOSED'] {
  color:red;
}

.name {
  margin-top: 10px;
}

.bold {
  font-weight: bold;
}

.location-box {
  margin-top: 10px;
}

.phone-number {
  margin-top: 10px;
}

.type-save {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favbutton {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  color: lightgray;
  position: relative;
  top: 1px;
}
[data-on='on'] {
  color:red;
}
[data-on='off'] {
  color: lightgray;
}
